/* image */

table.tile {
  border-collapse: collapse;
  border: solid 0px transparent;
}

table.tile tr td {
  margin:0px;
  padding:0px;
  height:2px;
  width:2px;
}

table.tile tr td.light {
  background-color: #EEEEEE;
}

table.tile tr td.dark {
  background-color: #333333;
}
